<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Years Resolution</title>
</head>
<body>
    <div id="middle">
        <h1>Pick Some Goals</h1>
        <img th:src="@{images/NewYearsEve.png}"/>
        <link th:href="@{/static/style.css}" href="/static/style.css" rel="stylesheet" type="text/css" media="screen" id="NewYears"/>
    </div>
</body>
<footer>
    <div>Copyright @2020 Pedro Moreno CS-321-1</div>
</footer>
</html>